/* @media 1919, 1680, 1366, 1330, 1280, 960, 768, 680, 375,  */
.page {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #313131;
  scroll-behavior: smooth;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  background-blend-mode: color-burn, color;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 700px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 0 0 349px;
  max-width: 542px;
}

.logo {
  margin: 0 0 58px 0;
  cursor: pointer;
  transition: 1s;
  z-index: 7;
  color: #595653;
  text-transform: uppercase;
  font-family: "GolosText", serif;
  font-size: 16.65px;
  line-height: 17.98px;
  font-weight: 700;
}

.header__title {
  margin: 0 0 25px 0;
  display: flex;
  flex-direction: column;
  z-index: 7;
}

.header__span {
  color: #313131;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
}

.header__span_right {
  margin-left: 33px;
}

.header__span_center {
  margin-left: 90px;
}

.header__text {
  color: #313131;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  margin: 0 0 40px 0;
  z-index: 7;
}

.header__btns {
  display: flex;
  gap: 15px;
  z-index: 7;
}

.header__btn {
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding: 13px 49px;
  border-radius: 66px;
  max-width: 165px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
}

.header__btn_left {
  color: #FFFFFF;
  background-color: #1F1F1F;
}

.header__btn_right {
  color: #1F1F1F;
  background-color: transparent;
  border: 2px solid #1F1F1F;
}

.ellipse {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  right: 310px;
  background-blend-mode: color-burn;
}

.letters {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 250px;
  mix-blend-mode: darken;
}

.king {
  position: absolute;
  z-index: 3;
  bottom: 165px;
  right: 780px;
}

.queen {
  position: absolute;
  z-index: 3;
  bottom: 270px;
  right: 430px;
}

.city {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 135px;
}

.border {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 155px;
}

.horse {
  position: absolute;
  z-index: 6;
  bottom: 0;
  right: 610px;
}

.pawn {
  position: absolute;
  z-index: 6;
  bottom: 20px;
  right: 320px;
}



@media (max-width: 1919px) {
  .header__content {
    padding: 26px 0 0 70px;
  }
}

@media (max-width: 1680px) {
  .ellipse {
    right: 35px;
  }

  .letters {
    right: -25px;
  }

  .king {
    right: 510px;
  }

  .queen {
    right: 160px;
  }

  .city {
    right: -140px;
  }

  .border {
    right: -120px;
  }

  .horse {
    right: 335px;
  }

  .pawn {
    right: 45px;
  }
}

@media (max-width: 1280px) {
  .header__content {
    padding: 26px 0 0 42px;
  }
}

@media (max-width: 960px) {
  .header__span {
    font-size: 50px;
    line-height: 60px;
  }

  .header__btn {
    padding: 7px 30px;
  }

  .header__btn_right {
    background-color: #FFFFFF;
  }
}

@media (max-width: 680px) {
  .header__content {
    width: 335px;
    padding: 18px 0 0 20px;
  }

  .header__span {
    font-size: 36px;
    line-height: 39.6px;
  }

  .header__span_right {
    margin-left: 30px;
  }

  .header__span_center {
    margin-left: 64px;
  }

  .header__text {
    text-align: left;
    margin: 0 0 31px 0;
  }

  .header__btns {
    flex-direction: column;
    gap: 12px;
  }

  .header__btn {
    max-width: 249px;
    padding: 13px 43px;
  }
}



@media (max-width: 375px) {
  .header {
    height: 774px;
    max-height: 774px;
  }

  .logo {
    margin: 0 0 38px 0;
    font-size: 14.42px;
    line-height: 15.57px;
  }

  .logo__img {
    height: 32px;
    width: 213px;
  }

  .ellipse {
    bottom: 66px;
    width: 295px;
    height: 285px;
    right: 50px;
  }

  .letters {
    right: 25px;
    bottom: 39px;
    width: 345px;
    height: 310px;
  }

  .king {
    right: 255px;
    height: 117px;
    bottom: 115px;
  }

  .queen {
    height: 105px;
    bottom: 169px;
    right: 88px;
    /* rotate: 10deg; */
  }

  .city {
    height: 247px;
    width: 885px;
    right: -110px;
    bottom: -8px;
  }

  .border {
    right: -100px;
    height: 247px;
    width: 885px;
    bottom: -4px;
  }

  .horse {
    height: 115px;
    bottom: 0;
    width: 100px;
    right: 130px;
  }

  .pawn {
    right: -100px;
    bottom: 0;
  }
}


/* ------------------------run-------------------------- */
.run {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  background-color: #F54932;
  gap: 12px;
  width: 100%;
}

.run__text {
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Merriweather", serif;
  font-size: 22px;
  line-height: 24.2px;
  font-weight: 400;
  padding: 18px 0;
  white-space: nowrap;
  margin: 0;
  padding-left: 90px;
  animation: marquee 20s infinite linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-50%)
  }
}

@media (max-width: 375px) {
  .run__text {
    padding: 10px 0;
    font-size: 16px;
    line-height: 17.6px;
  }
}

/* --------------------непрерывная бегущая строка----------------------- */
/* .div1 {
  padding-right: 30px;
  animation: marquee1 20s infinite linear;
  animation-delay: -20s;
}

.div2 {
  padding-right: 30px;
  animation: marquee2 20s infinite linear;
  animation-delay: -10s;
}

@keyframes marquee1 {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-200%);
  }
} */

/* -------------tournament------------ */
.tournament {
  display: flex;
  flex-direction: column;
  padding: 80px 42px;
  gap: 20px;
}

.tournament__block {
  padding: 30px 30px 0;
}

.tournament__img {
  float: right;
  margin: -30px 0 0 35px;
}

.tournament__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 36px;
  line-height: 48.6px;
  font-weight: 400;
}

.tournament__title-span {
  font-weight: 700;
  color: #F54932;
}

.tournament__block-table {
  display: flex;
  align-items: center;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  max-width: 704px;
  width: 100%;
  margin: 40px 0 30px 0;
}

.table__box {
  box-sizing: border-box;
  border: 3px solid white;
}

.table__column {
  border: 2px solid #D0D0D0;
}

.table__title {
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 15px 0;
  width: 300px;
  opacity: 70%;
}

.table__text {
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding: 15px 0 15px 15px;
}

.table__text-del {
  text-decoration: line-through;
  color: #F54932;
}

.table__text-span {
  color: #313131;
  padding-right: 10px;
}

.tournament__text {
  margin: 0;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #3057A2;
}


@media (max-width: 1280px) {
  .tournament__title {
    font-size: 28px;
    line-height: 37.8px;
  }

  .tournament__img-table {
    width: 375px;
  }
}

@media (max-width: 960px) {
  .tournament__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 60px;
  }

  .tournament__img {
    order: 2;
    width: 335px;
    height: 212px;
    margin: 25px auto 23px auto;
  }

  .span1 {
    order: 1;
  }

  .span2 {
    order: 3;
  }

  .span3 {
    order: 4;
  }

  .tournament__block-table {
    gap: 10px;
    flex-direction: column;
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .tournament {
    padding: 60px 25px;
  }

  .tournament__block-table {
    padding: 0;
  }

  .tournament__block {
    padding: 0;
  }
}

@media (max-width: 680px) {
  .table__row {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #D0D0D0;
  }

  .table__column {
    border: 0;
  }

  .table__row:last-of-type {
    border: 0;
  }
}



@media (max-width: 375px) {
  .tournament {
    padding: 50px 10px;
  }

  .tournament__block {
    padding: 0 10px;
  }

  .tournament__table {
    padding-left: 8px;
  }

  .tournament__title-table {
    padding: 0 30px 0 2px;
  }

  .tournament__title-span {
    letter-spacing: 0.3px;
  }

  .table {
    width: 335px;
    margin: 30px 0 22px 0;
  }

  .table__title {
    width: 290px;
    padding: 15px 0 12px;
  }

  .table__text {
    padding: 0 0 15px;
  }

  .table__row_nowrap {
    flex-direction: row;
  }

  .table__title_nowrap {
    width: 152px;
  }

  .table__text_nowrap {
    padding: 15px 0;
  }

  .tournament__text {
    padding: 0 0 0 2px;
    font-size: 18px;
    line-height: 21.6px;
  }

  .table__text-span {
    padding-right: 7px;
  }
}

/* ------------------stages-------------------- */
.stages {
  padding: 80px 75px;
  position: relative;
}

.stages__title-box {
  max-width: 806px;
  width: 100%;
  margin: 0 0 55px 0;
}

.stages__title {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 54px;
  line-height: 64.8px;
  font-weight: 400;
}

.stages__subtitle {
  width: 280px;
  margin: 0;
  padding: 0 0 0 10px;
  display: inline-block;
  flex-wrap: wrap;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #3057A2;
}

.table-grid {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px 136px;
  gap: 20px;
  position: relative;
}

.table-grid__cell {
  display: flex;
  list-style: none;
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  background-blend-mode: color-burn, color;
}

.table-grid__number {
  display: flex;
  width: 11px;
  height: 14px;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 20px 15px 20px 20px;
  align-items: center;
  justify-content: center;
  padding: 11px 13px;
}

.table-grid__text {
  margin: 20px 5px 10px 0;
  max-width: 300px;
  width: 100%;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.table-grid__text_width {
  max-width: 446px;
  width: 100%;
}

.table-grid__item3 {
  grid-row: span 2;
}

.table-grid__item7 {
  /* position: relative; */
  grid-column: span 2;
}

.stages__img {
  position: absolute;
  top: 430px;
  right: 5px;
}

.slider-grid {
  display: none;
}

@media (max-width: 1330px) {
  .stages__img {
    position: absolute;
    top: 60px;
    right: 50px;
  }
}

@media (max-width: 1280px) {
  .stages {
    padding: 80px 42px;
  }

  .table-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 15px;
  }

  .table-grid__item7 {
    grid-column: span 1;
  }

  .stages__img {
    width: 250px;
    height: 170px;
    top: 90px;
    right: 45px;
  }
}

@media (max-width: 960px) {
  .stages__title {
    font-size: 42px;
    line-height: 39.6px;
  }

  .table-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, min-content);
    gap: 15px;
  }

  .table-grid__text {
    max-width: 500px;
  }

  .table-grid__item3 {
    grid-row: span 1;
  }

  .stages__img {
    top: 150px;
    right: 45px;
  }
}

@media (max-width: 768px) {
  .stages {
    padding: 60px 25px;
  }
}

@media (max-width: 680px) {
  .stages__title-box {
    margin: 0 0 80px 0;
  }

  .stages__title {
    font-size: 36px;
    line-height: 39.6px;
  }

  .table-grid {
    width: 335px;
    gap: 0;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 335px);
    grid-template-rows: repeat(2, 150px);
    overflow: hidden;
    margin: 0 auto;
  }

  .table-grid__item3 {
    grid-row: span 2;
  }

  .table-grid__item6 {
    grid-row: span 2;
  }

  .table-grid__item7 {
    grid-row: span 2;
  }

  .table-grid__number {
    margin: 60px 15px 20px 20px;
    padding: 11px 13px;
  }

  .table-grid__text {
    margin: 60px 0 0 0;
    width: 239px;
    font-size: 18px;
    line-height: 21.6px;
  }

  .table-grid__text_position {
    margin: 25px 0 0 0;
  }

  .table-grid__number_position {
    margin: 25px 15px 20px 20px;
  }

  .stages__img {
    top: 160px;
    right: 45px;
  }

  /* ----------slider-grid------------- */
  .slider-grid {
    display: flex;
    align-items: center;
    margin: 25px auto 0;
    width: 178px;
    height: 36px;
    gap: 16px;
  }

  .slider-grid__dots {
    width: 74px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .slider-grid__dot {
    height: 10px;
    width: 10px;
    background: #D9D9D9;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
  }

  /* .slider-grid__dot:hover {
  background: #710707;
} */

  .slider-grid__dot:active {
    background: #313131;
  }

  /* .active {
  background: #313131;
} */

  .slider-grid__btn {
    padding: 0;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background-color: #313131;
    opacity: 20%;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  /* .slider-grid__btn:hover {
  background-color: #FBCE51;
} */

  .slider-grid__btn_left::before {
    content: "";
    background: url(../images/arrow-left.svg) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .slider-grid__btn_right::before {
    content: "";
    background: url(../images/arrow-right.svg) no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 375px) {
  .stages {
    padding: 70px 20px;
  }

  .stages__title-box {
    margin: 0 0 150px 0;
  }

  .stages__title {
    display: block;
    margin: 0 0 13px 0;
  }

  .stages__subtitle {
    display: block;
    width: 335px;
    padding: 0;
    font-size: 18px;
    line-height: 21.6px;
  }

  .stages__img {
    top: 260px;
    right: 5px;
    width: 340px;
    height: 200px;
  }
}

/* -------------------participants------------------- */
.participants {
  padding: 120px 75px 135px;
}

.participants__title {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 54px;
  line-height: 64.8px;
  font-weight: 400;
}

.cards {
  display: flex;
  text-align: center;
  justify-content: space-around;
  list-style: none;
  margin: 62px 0 0 0;
  padding: 0;
}

.cards__item {
  display: none;
}

.cards__item.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__image {
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  /* background-size: cover; */
  /* background-color: #424241; */
  background-blend-mode: color-burn, color;
  border-radius: 50%;
  height: 320px;
  margin: 0 0 30px;
}

.cards__title {
  margin: 0 0 5px 0;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
}

.cards__text {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.cards__btn {
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 62px;
  max-width: 113px;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #3057A2;
  color: #3057A2;
}

.slider {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.slider__pages {
  display: flex;
  gap: 5px;
  margin: 0 14px;
}

.slider__page {
  margin: 0;
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  color: #313131;
}

.slider__dots {
  display: none;
}

.slider__btn {
  height: 44px;
  width: 44px;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: #313131;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__btn_left {
  background-image: url('../images/arrow-left.svg');
}

.slider__btn_right {
  background-image: url('../images/arrow-right.svg');
}

@media (max-width: 1280px) {
  .participants {
    padding: 120px 42px 140px;
  }
}

@media (max-width: 960px) {
  .participants__title {
    font-size: 42px;
    line-height: 39.6px;
  }
}



@media (max-width: 768px) {
  .participants {
    padding: 52px 25px 100px;
  }

  .cards__image {
    width: 244px;
    height: 244px;
  }
}

@media (max-width: 680px) {
  .participants {
    display: flex;
    flex-direction: column;
    padding: 52px 20px 100px;
  }

  .participants__title {
    font-size: 36px;
    line-height: 39.6px;
  }

  .slider {
    order: 3;
    width: 129px;
    margin: 38px auto 0;
  }

  .slider__pages {
    gap: 2px;
  }

  .slider__btn {
    height: 36px;
    width: 36px;
  }
}

@media (max-width: 375px) {
  .cards {
    margin: 40px 0 0 0;
  }

  .cards__text {
    margin: 0 0 20px 0;
  }

  .cards__btn {
    line-height: 19.2px;
  }
}

/* ------------------footer---------------- */
.footer {
  background-color: #E9DED4;
  padding: 40px 75px 70px;
}

.footer__text {
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1280px) {
  .footer {
    padding: 40px 42px 57px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 25px 57px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding: 40px 20px 57px;
  }
}