.page {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFFFFF; 
  color: #313131;
  scroll-behavior: smooth;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  background-blend-mode: color-burn, color;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 700px;
  /* max-height: 760px; */
}

@media (max-width: 375px) {
  .header {
    /* height: 812px;
    max-height: 812px; */
      height: 774px;
    max-height: 774px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 0 0 349px;
  width: 542px;
}

@media (max-width: 1919px) {
  .content {
    padding: 26px 0 0 70px;
  }
}

@media (max-width: 375px) {
  .content  {
    width: 335px;
    padding: 18px 0 0 20px;
  }
}

.logo {
  margin: 0 0 58px 0;
  cursor: pointer;
  transition: 1s;
  z-index: 7;
  color:#595653;
  text-transform: uppercase;
  font-family: "GolosText", serif;
  font-size: 16.65px;
  line-height: 17.98px;
  font-weight: 700;
}

@media (max-width: 375px) {
  .logo {
    margin: 0 0 38px 0;
    font-size: 14.42px;
    line-height: 15.57px;
  }
}

@media (max-width: 375px) {
  .logo__img {
    height: 32px;
    width: 213px;
  }
}

.title {
  margin: 0 0 25px 0;
  display: flex;
  flex-direction: column;
  color: #313131;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
  z-index: 7;
}

@media (max-width: 375px) {
  .title   {
    font-size: 36px;
    line-height: 39.6px;
  }
}

.right {
margin-left: 33px;
}

@media (max-width: 375px) {
  .right {
    margin-left: 30px;
    }
}

.center {
  margin-left: 90px;
}

@media (max-width: 375px) {
  .center {
    margin-left: 64px;
  }
}

.text {
  color: #313131;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  margin: 0 0 40px 0;
  z-index: 7;
}

@media (max-width: 375px) {
  .text {
    text-align: left;
    margin: 0 0 31px 0;
    }
}

.button-box {
  display: flex;
  gap: 15px;
  z-index: 7;
}

@media (max-width: 375px) {
  .button-box {
    flex-direction: column;
    gap: 12px;
  }
}

.button {
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding: 13px 49px;
  border-radius: 66px;
  max-width: 165px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
}

@media (max-width: 375px) {
  .button {
    max-width: 249px;
    padding: 13px 43px;
  }
}

.button-black {
  color: #FFFFFF;
  background-color: #1F1F1F;
}

.button-tran {
  color: #1F1F1F;
  background-color: transparent;
  border: 2px solid #1F1F1F;
}

@media (max-width: 375px) {
  .button-tran {
    background-color: #FFFFFF;
  }
}

.ellipse {
  position: absolute;
  z-index: 1;
  /* bottom: 140px; */
  bottom: 80px;
  right: 310px;
  background-blend-mode: color-burn;
}

@media (max-width: 1680px) {
  .ellipse{
    right: 35px;
  }
}

@media (max-width: 375px) {
  .ellipse{
    /* bottom: 104px; */
    bottom: 66px;
    width: 295px;
    height: 285px; 
    right: 50px;
  }
}

.letters {
  position: absolute;
  z-index: 1;
  /* bottom: 80px; */
  bottom: 20px;
  right: 250px;
  mix-blend-mode: darken;
}

@media (max-width: 1680px) {
  .letters {
    right: -25px;
  }
}

@media (max-width: 375px) {
  .letters {
    right: 25px;
    /* bottom: 77px; */
    bottom: 39px;
    width: 345px;
    height: 310px; 
  }
}

.king {
  position: absolute;
  z-index: 3;
  /* bottom: 225px; */
  bottom: 165px;
  right: 780px;
}

@media (max-width: 1680px) {
  .king {
    right: 510px;
  }
}

@media (max-width: 375px) {
  .king {
    right: 255px;
    height: 117px;
    /* bottom: 153px; */
    bottom: 115px;
  }
}

.queen {
  position: absolute;
  z-index: 3;
  /* bottom: 330px; */
  bottom: 270px;
  right: 430px;
}

@media (max-width: 1680px) {
  .queen{
    right: 160px;
  }
}

@media (max-width: 375px) {
  .queen{
    height: 105px;
    /* bottom: 207px; */
    bottom: 169px;
    right: 88px;
    rotate: 10deg;
  }
}

.city {
  position: absolute;
  z-index: 4;
  bottom: 0;
  /* bottom: 60px; */
  right: 135px;
}

@media (max-width: 1680px) {
  .city {
    right: -140px;
  }
}

@media (max-width: 375px) {
  .city {
    height: 247px;
    width: 885px;
    right: -110px;
    /* bottom: 30px; */
    bottom: -8px;
  }
}

.city-border {
  position: absolute;
  z-index: 5;
  bottom: 0;
  /* bottom: 60px; */
  right: 155px;
}

@media (max-width: 1680px) {
  .city-border {
    right: -120px;
  }
}

@media (max-width: 375px) {
  .city-border {
    right: -100px;
    height: 247px;
    width: 885px;
    /* bottom: 34px; */
    bottom: -4px;
  }
}

.horse {
  position: absolute;
  z-index: 6;
  /* bottom: 60px; */
  bottom: 0;
  right: 610px;
}

@media (max-width: 1680px) {
  .horse {
    right: 335px;
  }
}

@media (max-width: 375px) {
  .horse {
height: 115px;
/* bottom: 38px; */
bottom: 0;
width: 100px;
right: 130px;
  }
}

.pawn {
  position: absolute;
  z-index: 6;
  /* bottom: 80px; */
  bottom: 20px;
  right: 320px;
}

@media (max-width: 1680px) {
  .pawn {
    right: 45px;
  }
}

@media (max-width: 375px) {
  .pawn {
    right: -100px;
    /* bottom: 38px; */
    bottom: 0;
  }
}

.run {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  background-color: #F54932;
  gap: 12px;
  /* position: absolute;
  z-index: 5;
  bottom: 0; */
  height: 60px;
  width: 100%;
}

@media (max-width: 375px) {
  .run {
    height: 38px;
  }
}

.run-text {
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Merriweather", serif;
  font-size: 22px;
  line-height: 24.2px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .run-text {
    font-size: 16px;
    line-height: 17.6px;
  }
}

.run-ellipse {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

/* -------------tournament------------ */
.tournament {
  display: flex;
  flex-direction: column;
  padding: 80px 42px;
  gap: 20px;
}

.flex {
  display: flex;
  padding: 0 30px;
  align-items: center;
  gap: 50px;
}

.flex-mob {
  display: none;
}

.flex2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tournament-title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 36px;
  line-height: 48.6px;
  font-weight: 400;
}
.tournament-span {
  font-weight: 700;
  color: #F54932;
}

.table {
  border-collapse: collapse;
  width: 704px;
  margin: 40px 0 30px 0;
}

.table-box {
  box-sizing: border-box;
  border: 3px solid white;
}

.table-column {
  border: 2px solid #D0D0D0;
}

.table-title {
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 15px 0;
  width: 300px;
  opacity: 70%;
}

.table-text {
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  padding: 15px 0 15px 15px;
}

.table-text-span {
  text-decoration: line-through; 
  color: #F54932;
}

.table-text-black {
  color: #313131;
  padding-right: 10px;
}

.tournament-text {
  margin: 0;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #3057A2;
}


@media (max-width: 375px) {
  .tournament {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
  }

  .flex {
    flex-direction: column;
    padding: 0 10px;
    display: none;
  }

  .flex-mob{
    flex-direction: column;
    padding: 0 10px;
    display: flex;
  }

  .rev {
    margin-bottom: 22px;
  }

  .revimg {
    margin-bottom: 25px;
  }

  .flex2 {
    gap: 10px;
    flex-direction: column;
  }

  .tournament-title {
    width: 330px;
    font-size: 28px;
    line-height: 37.8px;
  }

  .tournament-title2 {
    padding-left: 8px;
  }

  .tournament-img {
    width: 335px;
    height: 212px;
  }

  .Bender-img {
    width: 375px;
    }

    .table {
     width: 335px;
     margin: 30px 0 22px 0;
    }

   .table-row {
     display: flex;
     flex-direction: column;
     border-bottom: 2px solid #D0D0D0;
    }

 .table-column {
      border: 0;
    }

    .table-title {
      width: 290px;
      padding: 15px 0 12px;
    }

    .table-text {
      padding: 0 0 15px;
    }

  .table-row:last-of-type {
      border: 0;
    }

    .nowrap {
      flex-direction: row;
    }

    .nowrap-title {
      width: 152px;
    }

    .nowrap-center {
      padding: 15px 0;
    }

    .tournament-text {
      padding: 0 0 0 2px;
      font-size: 18px;
      line-height: 21.6px;
    }

    .table-text-black {
      padding-right: 7px;
    }
}

/* ------------------stages-------------------- */
.stages {
  padding: 80px 75px;
  position: relative;
}

.stages-title-box {
  width: 806px;
  height: 130px;
  margin: 0 0 55px 0;
}

.stages-title {
  display: inline;
  margin: 0;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 54px;
  line-height: 64.8px;
  font-weight: 400;
}

.stages-subtitle {
  width: 280px;
  margin: 0;
  padding: 0 0 0 10px;
  display: inline-block;
  flex-wrap: wrap;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #3057A2;
}

.table-grid {
 margin: 0;
 padding: 0;
 width: 100%;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 112px 112px 136px;
 gap: 20px; 
 /* position: relative; */
}

.table__cell {
  display: flex;
  list-style: none;
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  background-blend-mode: color-burn, color;
}

.table__number {
  display: flex;
  width: 11px;
  height: 14px;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 20px 15px 20px 20px;
  align-items: center;
  justify-content: center;
  padding: 11px 13px;
}

.table__text {
  margin: 20px 0 0 0;
  width: 300px;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.table__text-width {
  width: 446px;
}

.item3 {
  grid-row: span 2;
}

.item7 {
  grid-column: span 2;
}

.table__img {
  position: absolute;
  top: 430px;
  right: 5px;
}

@media (max-width: 375px) {
  .stages {
    padding: 70px 20px;
  }

  .stages-title-box {
    width: 335px;
    margin: 0 0 195px 0;
  }

  .stages-title {
    display: block;
    margin: 0 0 13px 0;
    font-size: 36px;
    line-height: 39.6px;
  }
  
  .stages-subtitle {
    display: block;
    width: 335px;
    padding: 0;
    font-size: 18px;
    line-height: 21.6px;
  }

  .table-grid {
    gap: 0; 
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 335px);
    grid-template-rows: repeat(2, 150px);
    overflow: hidden;
   }

   .item3 {
    grid-row: span 2;
  }

  .item6 {
    grid-row: span 2;
  }

  .item7 {
    grid-row: span 2;
  }

  .table__number {
    margin: 60px 15px 20px 20px;
    padding: 11px 13px;
  }
  
  .table__text {
    margin: 60px 0 0 0;
    width: 239px;
    font-size: 18px;
    line-height: 21.6px;
  }

  .not-text {
    margin: 25px 0 0 0;
  }

  .not-number {
    margin: 25px 15px 20px 20px;
  }

  .table__img {
    top: 260px;
    right: 5px;
    width: 340px;
    rotate: -3deg;
  }
}

/* ----------slider------------- */
.video__slider_box {
  display: none;
}
@media (max-width: 375px) {
  .video__slider_box {
    display: flex;
    align-items: center;
    margin: 25px auto 0;
    width: 178px;
    height: 36px;
    gap: 16px;
  }
  
  .video__slider_circles {
    width: 74px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    /* margin-top: 30px; */
  }
  
  .slider_circle {
    height: 10px;
    width: 10px;
    background: #D9D9D9;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
  }
  .slider_circle:hover {
    background: #710707;
  }
  
  /* .active {
    background:#313131;
  } */
  
  .gallery-btn {
    padding: 0;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background-color: #313131;
    opacity: 20%;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .gallery-btn:hover {
    background-color: #FBCE51;
  }
  
    .gallery-btn_direction_left::before {
      content: "";
      background: url(../images/arrow-left.svg) no-repeat center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    .gallery-btn_direction_right::before {
      content: "";
      background: url(../images/arrow-right.svg) no-repeat center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
}

/* -------------------participants------------------- */
.participants {
  padding: 120px 75px 140px;
  position: relative;
}

.participants-title {
  margin: 0 0 62px 0;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 54px;
  line-height: 64.8px;
  font-weight: 400;
}

/* .carousel-wrapper {
  width: 1216px;
  overflow: hidden;
}

.carousel {
  position: relative;
  left: -1216px;
  display: flex;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 462px;
}

@keyframes move-right {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

@keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0;
  }
}


.transition-right {
  animation-name: move-right;
  animation-duration: 0.5s;
}

.transition-left {
  animation-name: move-left;
  animation-duration: 0.5s;
} */

.cards {
  display: flex;
  /* gap: 90px; */
/* width: 1300px; */
  text-align: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 462px;
}

.cards_item {
    /* padding: 0 37px; */
  /* width: 394px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.cards_item:nth-child(3n+3) {
  margin-right: 90px;
  /* background-color: #F54932; */
}

.cards__image {
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  /* background-size: cover; */
  /* background-color: #424241; */
  background-blend-mode: color-burn, color;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  margin: 0 43px 25px;
  /* margin: 0 0 25px; */
}

.cards__title {
  margin: 0 0 6px 0;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
}

.cards__description {
  margin: 0 0 25px 0;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.button-cards {
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 62px;
  max-width: 113px;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #3057A2;
 color:#3057A2;
}


  .slider__container {
    margin: 130px 40px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 178px;
    gap: 10px;
  }
  
  .slider_page-number {
    display: flex;
    gap: 5px;
  }
  
  .page-number {
    margin: 0;
    font-family: "GolosText", serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    color:#313131;
  }

  .slider-squares {
    display: none;
  }
  
  .slider_arrow-left {
    height: 44px;
    width: 44px;
    background-image: url('../images/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 50%;
    background-color: #313131;
    transition: 0.5s;
  }
  
  .slider_arrow-right {
    height: 44px;
    width: 44px;
    background-image: url('../images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 50%;
    background-color: #313131;
    transition: 0.5s;
  }

  @media (max-width: 375px) {
    .participants {
      padding: 55px 20px;
      padding: 55px 20px 140px;
      /* position: relative; */
    }
    
    .participants-title {
      margin: 0;
      font-size: 36px;
      line-height: 39.6px;
    }

    .cards {
      overflow: hidden;
    }

    .cards_item:nth-child(3n+3) {
  margin-right: 0;
}

    .cards__image {
      width: 244px;
      height: 244px;
      margin: 0 0 32px 0;
    }
    
    .cards__description {
      margin: 0 0 20px 0;
    }

    .button-cards {
      line-height: 19.2px;
    }

    .cards_item {
      display: none;
    }
    
    .cards_item.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .slider__container {
      margin: 600px 75px 0 0;
    }
    
    .slider_arrow-left {
      height: 36px;
      width: 36px;
    }
    
    .slider_arrow-right {
      height: 36px;
      width: 36px;
    }
  }

  /* ------------------footer---------------- */
  .footer {
    background-color: #E9DED4;
    padding: 40px 75px 70px;
  }
  .footer-text {
    font-family: "GolosText", serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    margin: 0;
  }