.page {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #E9DED4; 
  color: #313131;
  scroll-behavior: smooth;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  background-image: url(../images/bg.png);
  background-color: #E9DED4;
  background-blend-mode: color-burn, color;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 760px;
}

@media (max-width: 375px) {
  .header {
    height: 812px;
    max-height: 812px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 0 0 349px;
  width: 542px;
}

@media (max-width: 1919px) {
  .content {
    padding: 26px 0 0 70px;
  }
}

@media (max-width: 375px) {
  .content  {
    width: 335px;
    padding: 18px 0 0 20px;
  }
}

.logo {
  margin: 0 0 58px 0;
  cursor: pointer;
  transition: 1s;
  z-index: 7;
  color:#595653;
  text-transform: uppercase;
  font-family: "GolosText", serif;
  font-size: 16.65px;
  line-height: 17.98px;
  font-weight: 700;
}

@media (max-width: 375px) {
  .logo {
    margin: 0 0 38px 0;
    font-size: 14.42px;
    line-height: 15.57px;
  }
}

@media (max-width: 375px) {
  .logo__img {
    height: 32px;
    width: 213px;
  }
}

.title {
  margin: 0 0 25px 0;
  display: flex;
  flex-direction: column;
  color: #313131;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
  z-index: 7;
}

@media (max-width: 375px) {
  .title   {
    font-size: 36px;
    line-height: 39.6px;
  }
}

.right {
margin-left: 33px;
}

@media (max-width: 375px) {
  .right {
    margin-left: 30px;
    }
}

.center {
  margin-left: 90px;
}

@media (max-width: 375px) {
  .center {
    margin-left: 64px;
  }
}

.text {
  color: #313131;
  text-align: center;
  font-family: "GolosText", serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  margin: 0 0 40px 0;
  z-index: 7;
}

@media (max-width: 375px) {
  .text {
    text-align: left;
    margin: 0 0 31px 0;
    }
}

.button-box {
  display: flex;
  gap: 15px;
  z-index: 7;
}

@media (max-width: 375px) {
  .button-box {
    flex-direction: column;
    gap: 12px;
  }
}

.button {
  font-family: "GolosText", serif;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  padding: 13px 49px;
  border-radius: 66px;
  max-width: 165px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
}

@media (max-width: 375px) {
  .button {
    max-width: 249px;
    padding: 13px 43px;
  }
}

.button-black {
  color: #FFFFFF;
  background-color: #1F1F1F;
}

.button-tran {
  color: #1F1F1F;
  background-color: transparent;
  border: 2px solid #1F1F1F;
}

@media (max-width: 375px) {
  .button-tran {
    background-color: #FFFFFF;
  }
}

.ellipse {
  position: absolute;
  z-index: 1;
  bottom: 140px;
  right: 310px;
  background-blend-mode: color-burn;
}

@media (max-width: 1680px) {
  .ellipse{
    right: 35px;
  }
}

@media (max-width: 375px) {
  .ellipse{
    bottom: 104px;
    width: 295px;
    height: 285px; 
    right: 50px;
  }
}

.letters {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  right: 250px;
  mix-blend-mode: darken;
}

@media (max-width: 1680px) {
  .letters {
    right: -25px;
  }
}

@media (max-width: 375px) {
  .letters {
    right: 25px;
    bottom: 77px;
    width: 345px;
    height: 310px; 
  }
}

.king {
  position: absolute;
  z-index: 3;
  bottom: 225px;
  right: 780px;
}

@media (max-width: 1680px) {
  .king {
    right: 510px;
  }
}

@media (max-width: 375px) {
  .king {
    right: 255px;
    height: 117px;
    bottom: 153px;
  }
}

.queen {
  position: absolute;
  z-index: 3;
  bottom: 330px;
  right: 430px;
}

@media (max-width: 1680px) {
  .queen{
    right: 160px;
  }
}

@media (max-width: 375px) {
  .queen{
    height: 105px;
    bottom: 207px;
    right: 88px;
    rotate: 10deg;
  }
}

.city {
  position: absolute;
  z-index: 4;
  bottom: 60px;
  right: 135px;
}

@media (max-width: 1680px) {
  .city {
    right: -140px;
  }
}

@media (max-width: 375px) {
  .city {
    height: 247px;
    width: 885px;
    right: -110px;
    bottom: 30px;
  }
}

.city-border {
  position: absolute;
  z-index: 5;
  bottom: 60px;
  right: 155px;
}

@media (max-width: 1680px) {
  .city-border {
    right: -120px;
  }
}

@media (max-width: 375px) {
  .city-border {
    right: -100px;
    height: 247px;
    width: 885px;
    bottom: 34px;
  }
}

.horse {
  position: absolute;
  z-index: 6;
  bottom: 60px;
  right: 610px;
}

@media (max-width: 1680px) {
  .horse {
    right: 335px;
  }
}

@media (max-width: 375px) {
  .horse {
height: 115px;
bottom: 38px;
width: 100px;
right: 130px;
  }
}

.pawn {
  position: absolute;
  z-index: 6;
  bottom: 80px;
  right: 320px;
}

@media (max-width: 1680px) {
  .pawn {
    right: 45px;
  }
}

@media (max-width: 375px) {
  .pawn {
    right: -100px;
    bottom: 38px;
  }
}

.run {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  background-color: #F54932;
  gap: 12px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  height: 60px;
  width: 100%;
}

@media (max-width: 375px) {
  .run {
    height: 38px;
  }
}

.run-text {
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Merriweather", serif;
  font-size: 22px;
  line-height: 24.2px;
  font-weight: 400;
}

@media (max-width: 375px) {
  .run-text {
    font-size: 16px;
    line-height: 17.6px;
  }
}

.run-ellipse {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
}