:root {
  --color-primary: #313131;
  --color-secondary: #FFFFFF;
  --color-background: #E9DED4;
  --color-additional: #3057A2;
  --color-attention: #F54932;
  --color-button: #1F1F1F;
  --color-hover: #FBCE51;
  --font-primary: "Merriweather", serif;
  --font-secondary: "GolosText", serif;
}