.preview__title {
  max-width: 300px;
  margin: 0;
  padding: 83px 0 0 120px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 590px) {
  .preview__title {
    max-width: 230px;
    padding: 40px 18px 0;
    font-size: 42px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 320px) {
  .preview__title {
    max-width: 180px;
    font-size: 32px;
  }
}
