@media screen and (max-width: 840px) {
  .bicycles__list {
    display: block;
    width: 114px;
    height: 30px;
    padding: 8px;
    background: none;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
  }
}
