.header {
  padding: 28px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
}

@media screen and (max-width: 590px) {
  .header {
    min-height: 74px;
    padding: 0;
  }
}
