.header {
    position: relative;
    max-height: 700px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-background);
}

@media (max-width: 375px) {
    .header {
        max-height: 774px;
        height: 774px;
    }
}