.header {
    position: relative;
    max-height: 700px;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../images/bg.png);
    background-blend-mode: color-burn, color;
    background-color: var(--color-background);
}

@media (max-width: 375px) {
    .header {
        max-height: 774px;
        height: 774px;
    }
}