.tournament__title {
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 36px;
    line-height: 48.6px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .tournament__title {
        font-size: 28px;
        line-height: 37.8px;
    }
}