.stages__title-box {
    max-width: 806px;
    width: 100%;
    margin: 0 0 55px 0;
}

@media (max-width: 960px) {
    .stages__title-box {
        width: 65%;
    }
}

@media (max-width: 680px) {
    .stages__title-box {
        width: 100%;
        margin: 0 0 190px 0;
    }
}

@media (max-width: 375px) {
    .stages__title-box {
        margin: 0 0 152px 0;
    }
}