.preview__link {
  max-width: 160px;
  margin: 53px 0 0;
  padding: 16px 10px;
  display: block;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  background-color: #24b47e;
  border-radius: 4px;
}

.preview__link:hover {
  -webkit-box-shadow: 0 0 0 10px rgba(9, 206, 75, 0);
  box-shadow: 0 0 0 10px rgba(9, 206, 75, 0);
  -webkit-animation: pulse 1.3s;
  animation: pulse 1.3s;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #09c63b;
    box-shadow: 0 0 0 0 #09c63b;
    color: #09c63b;
  }
}

@media screen and (max-width: 320px) {
  .preview__link {
    margin: 41px 0 0;
    padding: 13px 62px 14px;
    font-size: 13px;
    line-height: 1.46;
  }
}
