.header__btn_right {
    color: var(--color-button);
    background-color: transparent;
    border: 2px solid var(--color-button);
}

.header__btn_right:hover {
    color: var(--color-secondary);
    background-color: var(--color-button);
    box-shadow: 0 0 0 10px rgba(9, 206, 75, 0);
    animation: pulse-red 1.3s;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 var(--color-attention);
    }
}

@media (max-width: 960px) {
    .header__btn_right {
        background-color: var(--color-secondary);
    }
}