.merks__content {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 80px;
  -ms-grid-rows: 390px 1fr;
  grid-template-rows: 390px 1fr;
  -ms-grid-columns: 650px 80px minmax(210px, 1fr);
  grid-template-columns: 650px minmax(210px, 1fr);
  grid-template-areas:
    "image quote"
    "image author";
}

@media screen and (max-width: 1080px) {
  .merks__content {
    grid-row-gap: 40px;
    grid-template-areas:
      "image"
      "quote"
      "author";
    -ms-grid-columns: minmax(284px, 650px);
    grid-template-columns: minmax(284px, 650px);
    -ms-grid-rows: minmax(204px, min-content) 40px 1fr 40px 1fr;
    grid-template-rows: minmax(204px, -webkit-min-content) 1fr 1fr;
    grid-template-rows: minmax(204px, min-content) 1fr 1fr;
  }
}

@media screen and (max-width: 320px) {
  .merks__content {
    -ms-grid-columns: 284px;
    grid-template-columns: 284px;
    -ms-grid-rows: 204px 1fr 1fr;
    grid-template-rows: 204px 1fr 1fr;
  }
}
