.queen {
    position: absolute;
    z-index: 3;
    bottom: 270px;
    right: 430px;
}

@media (max-width: 1680px) {
    .queen {
        right: 160px;
    }
}

@media (max-width: 375px) {
    .queen {
        height: 105px;
        right: 88px;
        bottom: 169px;
    }
}