.stages {
    padding: 80px 75px;
    position: relative;
}

@media (max-width: 1280px) {
    .stages {
        padding: 80px 42px;
    }
}

@media (max-width: 768px) {
    .stages {
        padding: 60px 25px;
    }
}

@media (max-width: 375px) {
    .stages {
        padding: 70px 20px;
    }
}