.highway__gallery-btn_direction_left::before {
  content: "";
  background: url(../../../../images/arrow.svg) no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  right: 3px;
  bottom: 0;
}

@media screen and (max-width: 320px) {
  .highway__gallery-btn_direction_left::before {
    background: url(../../../../images/arrow.svg) no-repeat center / 6px;
  }
}
