.preview__brand {
  max-width: 194px;
  margin: 169px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  position: relative;
}

.preview__brand::after {
  content: "";
  width: 132px;
  height: 2px;
  background-color: #d7d4d4;
  position: absolute;
  top: 8px;
  left: 223px;
}

@media screen and (max-width: 410px) {
  .preview__brand {
    display: none;
  }
}
