.stages__img {
    position: absolute;
    top: 430px;
    right: 5px;
}

@media (max-width: 1340px) {
    .stages__img {
        width: 335px;
        height: 220px;
        top: 60px;
        right: 0;
    }
}

@media (max-width: 680px) {
    .stages__img {
        top: 150px;
    }
}

@media (max-width: 520px) {
    .stages__img {
        top: 220px;
    }
}

@media (max-width: 375px) {
    .stages__img {
        top: 255px;
        right: 10px;
    }
}