.merks__quote {
  grid-area: quote;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 320px) {
  .merks__quote {
    font-size: 23px;
    line-height: 29px;
  }
}
