.cards__image {
    height: 300px;
    width: 310px;
    padding: 20px 0 0 0;
    background-image: url(../../../images/bg.png);
    border-radius: 50%;
    background-color: var(--color-background);
    background-blend-mode: color-burn, color;
    transition: 0.5s;
    cursor: pointer;
}

.cards__image:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .cards__image {
        padding-top: 13px;
        width: 245px;
        height: 230px;
    }
}