.highway__subtitle {
  max-width: 460px;
  margin: 43px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #616161;
  grid-column: 1 / -1;
}

@media screen and (max-width: 320px) {
  .highway__subtitle {
    max-width: 284px;
    margin: 36px 0 0;
    font-size: 12px;
    line-height: 1.5;
    grid-column: 1 / -1;
  }
}
